.card-1, .card-2, .card-3 {
  font-size: 22px;
  padding: 5px 15px;
  background-color: #839123;
}

.menu {
  float: right;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu a {
  text-decoration: none;
}

.menu {
  float: right;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
}

.description {
  color: black;
  font-family: "Luno", sans-serif;
}
.description:hover {
  color: #000000;
}

.tools-description {
  text-align: left;
}
.tools-item {
  float: left;
}
.tools.items {
  float: right;
}

.card-1, .card-2, .card-3 {
  font-size: 22px;
  padding: 5px 15px;
  background-color: rgba(18, 220, 19, 0.9);
  border: 1px solid #000000;
  margin: 5px 5px;
}

.card-1 {
  color: gray;
}

.card-2 {
  color: black;
}

.card-3 {
  color: yellow;
}

.error, .error--serios {
  border: 1px #ff0000d0;
  background-color: #4e2f2f;
  font-size: 50px;
}
.error--serios {
  border-width: 3px;
}
